body,html{
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat';
}

body.active {
	overflow: hidden;
}

.container {
	max-width: 1120px;
	width: 100%;
	margin: 0 auto;
}

*{
	margin: 0;
}

a,i,img,button{
	text-decoration: none;
	transition: .2s linear;
	cursor: pointer;
}

li,ul,ol{
	list-style: none;
}

.header{
	height: 116px;
	width: 100%;
	background-color: #fff;
	display: flex;
    justify-content: center;
    align-items: center;

	.header__inner{
		position: relative;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
		z-index: 1000000;

		.header-logo{
			color: #1C2A39;
			font-weight: 700;
			font-size: 24px;
		}

		.header-nav{
			display: flex;
			gap: 40px;

			& a.active{
				color: #1C2A39;
				font-weight: 900;
			}
			& a{
				color: #5C6A79;
				font-weight: 700;
				font-size: 10px;
				text-transform: uppercase;
				text-decoration: none;
			}
			& a:hover{
				transform: scale(1.060);
			}
		}

		.header-add-menu{
			display: flex;
			gap: 40px;

			& .add-menu-bag{
				position: relative;
				& span.items-count{
					position: absolute;
					background-color: #FF353A;
					border-radius: 50px;
					padding: 2px;
					font-size: 10px;
					font-weight: 500;
					color: #FFFFFF;
					z-index: 10;
					right: -6px;
					bottom: -4px;
					cursor: pointer;
				}
			}
			& i{
				width: 14px;
				height: 17px;
			}
			& i:hover{
				transform: scale(1.070);
			}
		}

		.fa-bars {
			display: none;
		}

		.mobile-menu {
			display: none;
			width: 100%;
			min-height: 100vh;
			position: fixed;
			background-color: #343435;
			z-index: 3000;
			top: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			text-align: center;
			right: -10000px;
			& i {
				color: red;
				position: absolute;
				top: 20px;
				right: 20px;
				font-size: 40px;
			}
			& i:hover{
				transform: rotate(90deg);
			}

			.header-nav {
				display: flex;
				flex-direction: column;
				gap: 40px;
				margin-bottom: 20px;
				& a {
					color: #fff;
					font-size: 20px;
				}
				& a.active {
					color: #f2e47c;
				}
			}
		}
	}
}

.right100 {
	right: -10000px;
}

.d-flex {
	display: flex !important;
}

.animation-mobile{
	right: -10000px;
	animation-name: mobileOpen;
	animation-duration: 1.3s;
	animation-fill-mode: forwards;
	opacity: 0;
}

@keyframes mobileOpen {
	to {
		right: 0px;
		opacity: 1;
	}
}




.intro{
	width: 100%;
	height: calc(100vh - 116px);
	padding-bottom: 134px;

	& .intro__inner{
		position: relative;
		width: 100%;
		height: 702px;
		display: flex;
		justify-content: center;
		align-items: center;
		& .slide-block{
			height: 702px;
			width: 100%;
			position: relative;
			display: flex;
			justify-content: center;

			& .slide-link{
				width: 100%;

				.slide-image {
					opacity: 1;
					animation-fill-mode: forwards;
					position: absolute;
					width: 100%;
					object-fit: cover;
				  }
		
					& img{
						height: 702px;
						width: 1120px;
					}
			}
				
			  .slider-dots{
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 10px;
				position: absolute;
				bottom: -30px;

					& i{
						cursor: pointer;
						color: #EFEEF6;

						&:hover{
							scale: 1.050;
							opacity: .6;
						}
					}

					& .active{
						color: #9E98DC;
					}
			  }
		}


		& .cards-block{
			position: absolute;
			right: 0;
			top: 0;

			& .card-item{
				padding: 20px;
				display: flex;
				flex-direction: column;
				justify-content: flex-end;

				&:hover{
					transform: scale(1.050);
				}
			}

			& .card-item p{
				font-weight: 700;
				font-size: 18px;
				color: #1C2A39;
				line-height: 21.94px;
				text-transform: uppercase;
			}

			& .card-item-1{
				background-color: #9E98DC;
				width: 149px;
				height: 204px;
				position: absolute;
				right: -20px;
				top: 82px;
			}
			& .card-item-2{
				background-color: #FF8FE6;
				width: 137px;
				height: 273px;
				position: absolute;
				top: 360px;
				right: -30px;
			}
		}
	}
}


@keyframes slideAnimation {
	from {
		opacity: 0;
		transform: translateX(-50px);
	}
	to {
		opacity: 1;
		transform: translateX(0);

	}
}



.books{
	width: 100%;
	min-height: 100vh;
	background-color: #FFFFFF;

	.books__inner{
		width: 100%;
		min-height: 100vh;
		position: relative;

		.books__nav{
			background-color: #EFEEF6;
			padding: 45px 174px 81px 160px;
			display: flex;
			gap: 24px;
			flex-direction: column;
			align-items: self-start;
			width: calc(416px - (174px + 160px));

			& li.list-item{
				transition: .2s linear;
				& a{
					font-weight: 500;
					font-size: 12px;
					color: #5C6A79;
					line-height: 14.63px;
				}
			}

			& li.list-item:hover{
				transform: scale(1.1);
				list-style: disc;

				& a{
					color: #1C2A39;
				}
			}

			& li.active{
				list-style: disc;
				& a{
					font-weight: 700;
					font-size: 16px;
					color: #1C2A39;
				}
			}

			& li.active::marker{
				color: #756AD3;
			}
		}

		& .books-items{
			position: absolute;
			top: 50px;
			left: 300px;
			display: flex;
			flex-wrap: wrap;
			gap: 75px;

			.books__block{
				display: flex;
				flex-wrap: wrap;
				gap: 96px 76px;
				& .book-item{
					position: relative;
					display: flex;
					justify-content: center;
					align-items: center;
					width: 424px;
					height: 300px;
					transition: .2s linear;
	
					& img{
						width: 212px;
						height: 300px;
					}
	
					& .book__info{
						display: flex;
						flex-direction: column;
						padding-left: 36px;
	
						.book-author{
							color: #5C6A79;
							font-size: 10px;
							font-weight: 400;
							font-family: 'Open Sans', sans-serif;
							font-style: normal;
	
						}
	
						.book-title{
							color: #1C2A39;
							font-size: 16px;
							font-weight: 700;
							padding-top: 4px;
						}
	
						.reviews{
							display: flex;
							gap: 6px;
							align-items: baseline;
							padding-top: 4px;
	
							.stars{
								display: flex;
								gap: 1px;
								align-items: center;
							}
							& img{
								width: 12px;
								height: 12px;
							}
	
							.reviews-count{
								font-size: 10px;
								font-family: 'Open Sans', sans-serif;
								font-weight: 400;
								color: #5C6A79;
							}
						}
	
						.book-text{
							font-family: 'Open Sans', sans-serif;
							font-size: 10px;
							font-weight: 400;
							color: #5C6A79;
							line-height: 13.62px;
							padding-top: 16px;
						}
	
						.book-price{
							font-weight: 700;
							font-size: 13px;
							color: #1C2A39;
							padding: 16px 0;
						}
					}
	
					.book-buy{
						display: flex;
						justify-content: center;
						align-items: center;
						border: 1px solid #4C3DB2;
						padding: 16px 66px;
						color: #4C3DB2;
						font-size: 8px;
						font-weight: 700;
						text-transform: uppercase;
						background-color: #FFFFFF;
					}
	
					.book-buy:hover{
						background-color: rgba(76, 61, 178, .7);
						color: #FFFFFF;
						transform: scale(1.060);
					}

					.book-buy.active{
						border: .5px solid #5C6A79 !important;
						color: #5C6A79 !important;
					}
				}
	
				& .book-item:hover{
					transform: scale(1.050);
				}
	
				& .book-item:last-child{
					padding-bottom: 96px;
				}
			}

		}

		.more-books{
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			padding-bottom: 74px;
			top: 310px;

			.books-more{
				background-color: #FFFFFF;
				border: 1px solid #4C3DB2;
				padding: 17px 62px;
			}
			
			.books-more:hover{
				background-color: rgba(76, 61, 178, .7);
				color: #FFFFFF;
				transform: scale(1.060);
			}
		}
	}
}

@media (max-width: 1200px){
	.slide-block {
		width: 80% !important;
	}
	.slide-image {
		object-fit: contain !important;
		width: 700px !important;
	}

	.card-item-1 {
		width: 119px !important;
		height: 151px !important;
	}

	.card-item-2 {
		width: 90px !important;
		height: 200px !important;
	}
	.slide-block {
		height: 600px !important;
	}
}

@media (max-width: 500px) {
	.books-items {
		position: static !important;
		display: flex !important;;
		flex-wrap: nowrap !important;
		gap: 30px !important;
	}

	.more-books {
		position: static !important;
	}

	.book-item {
		width: 100% !important;
	}

	.book-text {
		font-size: 8px !important;
		padding-top: 10px !important;
	}

	.books__block {
		flex-direction: column !important;
		column-gap: 0 !important;
		row-gap: 20px !important;
		width: 100% !important;
	}

	.books__nav {
		width: 100% !important;
		margin-bottom: 20px !important;
		padding: 20px 0 !important;
		column-gap: 7px !important;
		justify-content: center !important;
		align-items: center !important;
	}

	.book-thumbnail {
		width: 200px !important;
		height: 200px !important;
	}

	.book__info {
		padding-left: 10px !important;
		width: 120px !important;
	}

	.header__inner {
		justify-content: space-evenly !important;
	}

	.card-item-2 {
		top: 191px !important;
    	right: 70px !important;
	}
}

@media (max-width: 800px){
	.slide-block {
		margin: 0 auto !important;
		width: 60% !important;
		height: 520px !important;
	}
	.slide-image {
		object-fit: contain !important;
		width: 500px !important;
	}
}

@media (max-width: 760px){
	.slide-block {
		margin: 0 auto !important;
		width: 60% !important;
		height: 480px !important;
	}
	.slide-image {
		object-fit: contain !important;
		width: 325px !important;
	}

	.card-item-1 {
		width: 80px !important;
		height: 120px !important;
		top: 194px !important;
	}

	.card-item-2 {
		width: 60px !important;
		height: 150px !important;

	}
}

@media (max-width: 700px){
	.fa-bars {
		display: block !important;
	}
	.header-nav.desktop {
		display: none !important;
	}
	.intro__inner{
		height: 200px !important;
	}
	.intro {
		height: 200px !important;
	}
	.card-item-1{
		top: 10px !important;
		right: 70px !important;
		width: 80px !important;
		height: 100px !important;

	}
	.card-item-2{
		top: 170px !important;
		right: 30px !important;
		width: 50px !important;
		height: 100px !important;
	}
	.card-item p {
		font-size: 13px !important;
	}
}

@media (max-width: 600px) {
	.card-item-1 {
		right: 20px !important;
	}
	.card-item-2 {
		right: 10px !important;
	}
}

@media (max-width: 500px){
	.slide-image {
		width: 231px !important;
	}
	.slide-block {
		height: 425px !important;
	}
	.intro {
		height: 300px !important;
	}
	.card-item-1{
		top: 100px !important;
		right: 70px !important;
		width: 60px !important;
		height: 80px !important;
		padding: 10px !important;
	}
	.card-item-2{
		top: 170px !important;
		right: 30px !important;
		width: 36px !important;
		height: 100px !important;
		padding: 10px !important;
	}
	.card-item p {
		font-size: 9px !important;
	}
	.slider-dots i{
		font-size: 10px !important;
	}

	.book-price {
		text-align: left !important;
		width: 100% !important;
	}

	.book__info {
		justify-content: center !important;
    	align-items: center !important;
	}

	.book-buy {
		padding: 10px 26px !important;
		width: 90px !important;
	}
}

@media (max-width: 360px) {
	.header-logo {
		font-size: 15px !important;
	}

	.slide-image {
		width: 130px !important;
	}

	.card-item-1 {
		right: 10px !important;
	}
	.card-item-2 {
		right: 0 !important;
	}

	.card-item p {
		font-size: 7px !important;
	}
	
	.header-add-menu {
		gap: 15px !important;
	}
}

@media (max-width: 340px) {
	.book-title {
		font-size: 11px !important;
	}

	.books-more {
		padding: 17px 40px !important;
	}

	.book-thumbnail {
		width: 85px !important;
		height: 146px !important;
		padding-left: 5px !important;
	}

	.book-author {
		font-size: 7px !important;
	}

	.book-price {
		font-size: 9px !important;
	}

	.book-text {
		font-size: 7px !important;
	}
}